*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	transform-origin: center;
	perspective: 2000px;
}

.left{
	flex-basis: 50%;
	animation: animate 3s linear infinite;
}
.left img{
	width: 100%;
	padding-top: 100px;
}



.right{
	flex-basis: 50%;
	max-width: 400px;
	margin-left: 100px;
    margin-top: 50px;
}

.right h1{
	font-size: 50px;
    margin: 20px;
}
.right p{
	font-size: 20px;
	margin:20px 0px;
}
button{
	background: black;
	color: white;
	font-weight: bold;
	border: none;
	outline: none;
	padding: 10px 20px;
	margin-bottom: 20px;
}